BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
ReflowComments: true
SortIncludes: true
ColumnLimit: 100
